<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/same.css">
    <link rel="stylesheet" href="./stylesheets/main.css">
    <title>Rectangles factory</title>
  </head>
  <body style = "background-image: url(./background.jpg);">
    <div id="back_gray">

      <div id="back_white">

        <div id="title"><h1>The Rectangles Factory</h1></div>
        <div id="sub_title"><h2>Home Page</h2></div>

        <button class = "button" type="button" name="button" onclick = "jump_to_home()"><span>Intro </span></button>
        <button class = "button" type="button" name="button" onclick = "jump_to_add()"><span>Add </span></button>
        <button class = "button" type="button" name="button" onclick = "jump_to_delete()"><span>Delete </span></button>
        <button class = "button" type="button" name="button" onclick = "check_all()"><span>All </span></button>
        <div id="text">
        </div>

      </div>
      
    </div>

    <script type="text/javascript" src = "./word.js">
    </script>
  </body>
</html>
