<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/same.css">
    <title>Introduction</title>
</head>
<body>
    <body style = "background-image: url(./background5.jpg); background-size: 100%;">
        <div id="back_gray">
    
          <div id="back_white">
              <p class = "word1">This is a website about customizing rectangles and managing orders. </p> <br>
              <p class = "word2">You can operate by clicking the button on the homepage, and every item you customize will be stored in the database for your management!!</p>  <br>
              <p class = "word3">Enjoy it, make sure do not put "stupid" input in it</p>  
              <p class = "word4">Have a wonderful day!  :)</p>      
            <br>
            <a id= "sub_title_all" th:href="@{/}" style = "display:block;
            word-break:keep-all;
            white-space:nowrap;
            text-overflow:ellipsis;
            color:black;
            font-size: 1em;
            margin:-2px 20px 20px 10px;">Back to home page!</a>
          <div>
        <div>
</body>
</html>