<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/stylesheets/same.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/add.css}">
    <title>Successfully adding</title>
</head>
<body>
    <div id = "back_gray">

      <div id = "back_white">
        <div id="title_succ"><h1>Successfully Adding Rectangle</h1></div>
        <div id="sub_succ"><h2>Do you want more??  </h2></div>
        <a id= "sub_title_succ" th:href="@{/rectangle}" >Back and add them !</a><br>
        <a id= "sub_title_succ" th:href="@{/}" >Back to home page!</a>
        <div>
        
        </div>
</html>
