
#title{
  display:block;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color:black;
  font-size: 1em;
  margin:-270px 10px 0 -165px;
  font-family:"Papyrus";
}
#sub_title{
  display:block;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color:black;
  font-size: 0.8em;
  margin:4px 20px 20px -45px;
  font-family:"Times New Romane";
}
#text{
  color: blue;
  font-size: 1.7em;
  margin:-370px 10px 0 30px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 20px 10px -220px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ' ➡️';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
